.projects {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-template-rows: auto auto;
   justify-items: center;
   gap: 1rem;

   .projectCard {
      position: relative;
      display: flex;
      align-items: center;
      height: 25px;
      width: 150px;
      padding: 1rem;
      background-color: var(--color-background);
      outline: 1px solid var(--color-border);
      border-radius: 100px;
      transition: .3s ease-in-out;

      .arrowUp {
         position: absolute;
         right: 1rem;
         width: 20px;
         height: 20px;
         color: rgba(225, 225, 225, 0.6);
         transition: .3s ease-in-out;
         transform: rotate(45deg);
      }

      &:hover {
         outline-color: var(--color-accent);
         outline-width: 4px;

         svg {
            color: var(--color-accent);
            transform: rotate(0deg);
         }
      }
   }
}