.skills {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
   gap: 1rem;

   .skill {
      font-size: 14px;
      padding: 10px 20px;
      text-align: center;
      background-color: var(--color-background);
      outline: 1px solid var(--color-border);
      border-radius: 10px;
   }
}