@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

:root {
  --background: #F0EFED;
  --foreground: #111111;
  --card-bg: #ffffff;
  --card-text: #111111;
  --border-color: #e5e5e5;
  --text-muted: #737373;
  --green-text: #088046;
}

.dark {
  --background: #000;
  --foreground: #F0EFED;
  --card-bg: #262626;
  --card-text: #fafafa;
  --border-color: #404040;
  --text-muted: #a3a3a3;
  --green-text: #34d399;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
  
  ::selection {
    background-color: var(--foreground);
    color: var(--background);
  }
}