@import "tailwindcss";

:root {
  --background: #F0EFED;
  --foreground: #111111;
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  
  ::selection {
    background-color: #1e1e1e;
    color: var(--background);
  }
}

.menu-button {
  @apply w-full h-full uppercase flex items-center justify-center;
}